*,*::after,*::before{
  box-sizing: border-box;
}
.demoBlock{
  overflow: hidden;
  margin-top: 1rem;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}
td{
  text-align: center;
}
.theme-default-content code{
      background-color: rgba(27,31,35,.1);
      border: 1px solid rgba(0,0,0,.1);
}
.navbar .logo,.home .hero img{
  border-radius: 4px;
}
.theme-default-content:not(.custom) a.ml-link:hover {
    text-decoration: none;
}
.home .features .feature{
  user-select: none;
  text-align: center;
  padding: 1rem;
  transition: all .5s ease;
}
.home .features .feature:hover{
  outline: 1px solid #409EFF;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.custom-block.details summary{
  text-align: center;
}
details.custom-block.details{
  border-radius:4px;
  background-color: rgba(#409EFF, .3);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}
.custom-block.details summary:hover{
  color:#409EFF;
}